services:
  db_user:
    container_name: users
    image: mysql:8.0.26
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: user
    ports:
      - "127.0.0.1:3309:3306"
    command: mysqld --lower_case_table_names=1
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: '256M'